* {
    margin: 0px;
    padding:0px;
    font-family: Arial;
}

#principal {
    display: grid;
    grid-template-columns: 7% 20% 1fr;
    grid-template-rows: 230px 115px 540px 210px 150px;
}

#div1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / 2;
    background-color: red;
}

#div2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: green;
}

#div3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: yellow;
}

#div4 {
    grid-column: 3 / 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: blue;
}

#div5 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: purple;
}

#div6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 5 / 6;
    background-color: gray;
}
