* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.clearfix {
    float: none;
    clear: both;
}

#contenedorPrincipal {
    width: 1200px;
    margin: 0px auto; /* La propiedad "margin: 0px auto;" permite centrar el contenedor en el centro de la página. */
    margin-top: 20px;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 110, 255);
    color: white; /* Aca se esta cambiando el color de las letras que estan dentro del contenedor. */
    text-align: center;
    line-height: 90px;
}

nav {
    background: #eee;
}

nav ul li {
    display: block; /* Con esta propiedad se logra que los <li> se comporten como cajas. */
    float: left; /* Al añadir esta propiedad se logra que los <li> se coloquen uno al lado del otro. */
    border-right: 1px solid black;
}

nav ul li:hover {
    background-color: rgb(0, 18, 255);
    cursor: pointer;
}

nav ul li:hover a {
    color: white;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: rgb(64, 62, 62);
}

#contenidoPrincipal {
    width: 70%;
    float: left;
}

#contenidoPrincipal > h1 {
    text-align: center;
    padding: 10px;
}

#barraLateral {
    width: 29%; /* Aca no puede ser 30% porque se estan utilizando pixeles en los bordes de los contenedores. */
    min-height: 1530px;
    border: 1px solid red;
    float: left;
}

#barraLateral > h2 {
    text-align: center;
    padding: 10px;
}

.caja {
    width: 45%;
    height: 350px;
    background-color: red;
    border: 3px solid blue;
    color: white;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #eee;
    text-align: center;
    color: #444;
}
