* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#contenedor {
    width: 75%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

header {
    display: grid;
    grid-template-columns: 68% 30%;
    align-items: center;
    width: 100%;
    height: 120px;
    height: 120px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
    padding: 10px;
    margin-left: 20px;
    margin-left: 20px;
    color: black;
    text-shadow: 1px 1px 0px #ccc;
    text-transform: uppercase;
}

.logo h1 {
    font-family: Helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;
}

#menu {
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

#menu > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    list-style: none;
}

@media (max-width: 585px) {
    header {
        min-height: 250px;
    }

    #menu > ul {
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}

#menu a {
    text-transform: uppercase;
    color: #444;
    padding: 15px;
    transition: all 300ms;
}

#menu a:hover {
    background: #ccc;
    color: white;
}

#contenido {
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-column-gap: 19px;
}

#proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 40px;
    align-items: start;
}

.proyecto {
    margin-bottom: 25px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.proyecto img {
    width: 100%;
}

.proyecto-info {
    padding: 10px;
}

.proyecto-info a {
    font-size: 16px;
    color: black;
    transition: all 300ms;
}

.proyecto-info a:hover {
    color: green;
}

.proyecto-info p {
    font-size: 16px;
    color: gray;
}

aside {
    margin-right: 30px;
    padding: 15px;
}

aside h2 {
    display: block;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    text-align: center;
}

@media (max-width: 585px) {
    aside {
        display: grid;
        grid-template-columns: 1fr;
        min-height: 398px;
    }

    aside ul li {
        display: block;
        grid-column: 1 / 10;
    }
}

aside ul {
    list-style: none;
}

aside ul li {
    padding-bottom: 20px;
}

aside a {
    display: block;
    padding: 20px;
    background: #eee;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}

aside a:hover {
    background: #444;
    color: #eee;
}

footer {
    display: grid;
    grid-template-columns: 1fr 25%;
    align-items: center;
    justify-content: start;
    height: 120px;
    border-top: 1px solid rgba(225, 225, 226, 0.8);
}

footer .logo {
    opacity: 0.5;
    text-align: left;
    margin-right: 20px;
}

footer .info {
    margin-left: 20px;
    color: #444;
}

@media (max-width: 1480px) {
    header {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        height: 140px;
        padding-bottom: 20px;
    }

    header h1 {
        text-align: center;
    }

    #contenido {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        grid-column-gap: auto;
    }

    #proyectos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .proyecto {
        margin-right: 10px;
        margin-left: 10px;
    }

    aside {
        margin-right: 0px;
        padding: 15px;
    }

    aside ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: start;
        text-align: center !important;
    }

    footer .logo {
        text-align: center !important;
    }
}
